{% extends 'all-pics/base.html'%}

{% block content %}
    {{block.super}}

    <div class=container>    
    <div class="row">
        {% for pic in pics%}
    <div class="col-md-4">
            <div class="image-container"> 
                <a class="img-thumbnail" href="{{pic.image}}" data-image-id="{{pic.id}}" data-toggle="modal" data-target="#{{pic.id}}">
                    <img src="{{ pic.image.url }}" alt="Image" id="img{{pic.id}}" class="img-responsive" alt="image" style="height:500px; width: 500px;">
                </a> 
            </div>

                    <div style="background-image:url(https://www.desktopbackground.org/p/2011/06/12/217926_color-splash-creative-hd-bonny-wallpapers-free-hd-wallpapers_1920x1200_h.jpg) ;" class="modal fade" id="{{photo.id}}">
                        <div class="modal-dialog modal-dialog-centered"style="max-width: 100px!important;" role="document">
                        <div class="modal-content">
                            <div class="card" style="width:400px">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h4 class="card-title">{{ photo.image_name }}</h4>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <p style="font-family: 'Oregano', cursive;">Posted {{photo.pub_date_posted|timesince}} ago</p>
                                    </div>
                                       
                                </div>
                                
                                <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image" style="width:100%" id="{{ photo.image.url }}">
                                <div style="width:100%" class="card-body">
                                    
                                    <p style="font-family: 'Oregano', cursive;" class="card-text">description : {{ photo.description }}</p>
                                    <p>Location : {{ photo.location }}</p>
                                    
                                    
                                    <div class="row">
                                        <div class="col-md-2">
                                                <button style="border-color:black; background-color: rgba(255, 94, 0, 0.877);" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-md-10">
                                            <a onclick="copyLink({{photo.id}})"><button type="button" class="btn btn-success btn-sm">Copy Link</button></a>
                                                <input class="form-control" type="text" value="https://lewismutumagallery.herokuapp.com{{photo.image.url}}" id="thislinkhere-{{photo.id}}">
                                            <a ></a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                
                                </div>
                        </div>
                        </div>
            </div>
    </div>
    {% endfor %}
    </div>
</div>

<script>
        function copyLink( id ) {
            /* Get the text field */
            var copyText = document.getElementById( "thislinkhere-" + id );
            /* Select the text field */
            copyText.select();
            /* Copy the text inside the text field */
            document.execCommand( "copy" );
            /* Alert the copied text */
            alert( "Don't forget to share this link: " + copyText.value );
            }
        
        </script>
{% endblock %}