{%extends 'all-pics/base.html'%}
{%load bootstrap3%}
{% block content %}
<div class="container">

  <h1 class='text-center'>{photos for }{{date|date:"l d-F Y"}}</h1>
  <div class="well well-sm">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {% for photo in photos %}

        <a class="img-thumbnail" href="{{photo.image}}" data-image-id="{{photo.id}}" data-toggle="modal" data-target="#{{photo.id}}" style=height:150px>
                <img src="{{ photo.image.url }}" alt="Image" id="img{{photo.id}}" class="img-responsive" alt="image">
            </a>
        <div style="text-align:left;padding-right: 200px;">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h2>{{ photo.image_name }}</h2>
            </div>
            <div class="col-md-6 col-sm-6">
              <p>Posted {{photo.pub_date_posted|timesince}} ago</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <p>description : {{ photo.description }}</p>
          <p>Location : {{ photo.location }}</p>
          <div class="row">
            <div class="col-md-2">
              <button type="button" class="btn btn-default btn-sm">Close</button>
            </div>
            <div class="col-md-10">
              <a onclick="copyLink ({{photo.id}})"><button type="button" class="btn btn-success btn-sm">Copy Link</a>
              <input class="form-control" type="text" value="https://silverstargallery{{photo.image.url}}" id="thislinkhere-{{photo.id}}">

    </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <script>
    function copyLink(id) {
      /* Get the text field */
      var copyText = document.getElementById("thislinkhere-" + id);
      /* Select the text field */
      copyText.select();
      /* Copy the text inside the text field */
      document.execCommand("copy");
      /* Alert the copied text */
      alert("Don't forget to share this link: " + copyText.value);
    }
  </script>
  {% endblock %}
