{%extends 'all-pics/base.html'%}

{% block content %}
<div style=" padding-bottom: 130px; padding-top: 115px;" class="container-fluid">

  <div class="row">
    {% if images%}
      <h2 style="color:azure; font-family: 'Oregano', cursive; font-size: 35px;">Found {{ images|length }} of searched term {{message}}</h2>
      
    {% else %}
      <h2 style="color:azure; font-family: 'Oregano', cursive; font-size: 35px;"> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for images_item in images %}
      <div class="col-sm-4">
          
          <a class="img-thumbnail" href="{{images_item.image.url}}" data-image-id="{{images_item.id}}" data-toggle="modal" data-target="#{{images_item.id}}">
                <img src="{{images_item.image.url}}" alt="Image" id="img{{images_item.id}}" class="img-responsive" alt="image" style="height:400px; width: 400px;">
            </a>
          <!-- <img src="{{images_item.image.url}}" alt=""> -->
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
